<li class="nav-item">
  <p><%=link_to current_professional.email, professional_profile_path(:id,current_professional.id), class:"nav-link disabled"%></p>
</li>
<li class="nav-item">
  <p><%= link_to 'Ver aplicações', project_applications_path, class:"nav-link active"%></p>
</li>
<% if current_professional.profile.id?%>
  <li class="nav-item">
    <p><%= link_to 'Veja seu perfil', professional_profile_path(current_professional.id, current_professional.profile.id), class:"nav-link active" %></p>
  </li>
<% end %>
<li class="nav_item">
  <p><%= link_to 'Ver projetos disponíveis', projects_path, class:"nav-link active" %></p>
</li>
<li class="nav-item">
  <p><%= link_to 'Logout', destroy_professional_session_path, method: :delete, class:"nav-link active"%></p>
</li>
