<h1>Jobfy<h1>
<h2>Bem vindo ao jobfy</h2>
<h3>Conectando desenvolvedores e projetos</h3> 

<% @projects.each do |p|%>
    <% if user_signed_in? && current_user.id == p.user_id %>
    <div>
        Título: <%= p.title%>
    </div>
    <div>
        Descrição: <%= p.description%>
    </div>
    <div>
        Habilidades: <%= p.skills%>
    </div>
    <div>
        Preço por hora: <%= number_to_currency(p.price_per_hour, unit: 'R$', separator: ',', format: '%u %n') %>
    </div>
    <div>
        <dt>Local de atuação:</dt>
        <% if p.remote? %>
                <dd>Remoto</dd>
            <% else %>
                <dd>Presencial</dd>
            <% end %>
        </div>
    <div>
        Data limite: <%= p.deadline.strftime("%d/%m/%Y") %>
    </div>
    <% end %>
<%end%>

    <% if professional_signed_in? && current_professional.profile %>
        <p><%= current_professional.profile.full_name%></p>    
        <p><%= current_professional.profile.social_name%></p>  
        <p><%= current_professional.profile.description%></p>    
        <p><%= current_professional.profile.educational_background%></p>    
        <p><%= current_professional.profile.birth_date.strftime("%d/%m/%Y")%></p> 
        <p><%=image_tag current_professional.profile.avatar, alt:'Foto'%></p>    
    <% end %> 
