<% @projects.each do |p|%>
   <div>
      Título: <%= p.title%>
   </div>
   <div>
       Descrição: <%= p.description%>
   </div>
   <div>
       Habilidades: <%= p.skills%>
   </div>
   <div>
       Preço por hora: <%= number_to_currency(p.price_per_hour, unit: 'R$', separator: ',', format: '%u %n') %>
   </div>
   <div>
    <dt>Local de atuação:</dt>
    <% if p.remote? %>
            <dd>Remoto</dd>
        <% else %>
            <dd>Presencial</dd>
        <% end %>
    </div>
   <div>
      Data limite: <%= p.deadline.strftime("%d/%m/%Y") %>
   </div>
<% end %>
 