<%= form_with model:[@projects, @project_application], local: true do |f| %>
  <% if f.object.errors.any? %>
    <div class="btn btn-danger">
      <% f.object.errors.full_messages.each do |message|%>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>
  <div>
    <%= f.label :reason, "Justificativa" %>
    <%= f.text_field :reason %>
  </div>
  <div><%=f.submit 'Cancelar'%></div>
<% end %>
