  <% @project_application.each do |p|%>
  <% if p.errors.any? %>
    <div class="btn btn-danger">
      <% p.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>
  <% if p.project.closed? && p.rejected? || p.project.closed? && p.pending?%>
  <%elsif is_current_professional_signed_in(p) %>
    <div>
      <p>Projeto: <%= p.project.title%></p>
      <p>Introdução <%= p.introduction%></p>
    </div>
  <% end %>
  <% if is_current_professional_signed_in(p) && p.reason%>
    <p class="alert alert-primary" role="alert">Você cancelou essa aplicação com a justificativa de: <%= p.reason%></p>
  <% elsif is_current_professional_signed_in(p) && p.pending? && p.project.active? %>
    <p class="alert alert-primary" role="alert">Sua candidatura está pendente</p>
    <p><%=link_to "Cancelar sua aplicação", project_application_path(p, p.id), method: :delete %></p>
  <% elsif is_current_professional_signed_in(p) && p.accepted?  %>
    <% if p.professional_cannot_cancel_application(p) %>
      <p class="alert alert-success" role="alert"> Sua candidatura foi aceita! </p>
      <p><%=link_to "Cancele sua aplicação", edit_project_application_path(p, p.id) %></p>
    <% else %>
      <p class="alert alert-success" role="alert"> Sua candidatura foi aceita! </p>
    <% end %>
  <% elsif is_current_professional_signed_in(p) && p.rejected? && p.project.active? %>
    <p class="alert alert-danger" role="alert">Sua candidatura foi recusada mas não desanime! Temos muitos projetos que encaixam no seu perfil</p>
  <% end %>
<% end %>
<% if user_signed_in?%>
  <p>Candidaturas</p>
  <% @project_application.each do |p|%>
    <div class="row">
      <% if is_current_user_signed_in(p) && !p.reason %>
        <div class="row-lg-100">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title"><%= p.project.title%></h5>
              <dt>Introdução</dt>
              <h6 clas="card-subtitle"><%= p.introduction%></h6>
              <dt>Nome do profissional:</dt>
              <% if p.professional_social_name_exists(p) %>
                <h6 class="card-text"> <%= p.professional.profile.social_name %></h6>
              <% else %>
                <h6 class="card-text"> <%= p.professional.profile.full_name %></h6>
              <% end %>
              <dt>Mande um email para contatar o profissional:</dt>
              <h6 class="card-text"> <%=mail_to p.professional.email%></h6>
              <dt>Data de nascimento:</dt>
              <h6 class="card-text"><%= p.professional.profile.birth_date.strftime("%d/%m/%Y") %></h6>
              <dt>Status:</dt>
              <dd><%= p.status%></dd>
              <% if p.pending? && !p.project.closed?%>
                <p><%= link_to 'Aceitar', accept_project_application_path(p.id), method: :post, class: "btn btn-primary" %></p>
                <p><%= link_to 'Recusar', reject_project_application_path(p.id), method: :post, class: "btn btn-primary" %></p>
              <% end %>
              <% if p.project.closed?%>
                <p class="alert alert-warning" role="alert">Você encerrou as inscrições para este projeto!</p>
              <% elsif p.project.deadline < DateTime.current%>
                <p class="alert alert-warning" role="alert">Data limite para profissionais aplicarem para o projeto expirou</p>
              <% end %>
            </div>
          </div>
          <div>
          <% elsif p.reason? %>
            <div class="row">
              <div class="row-lg-100">
                <div class="card" >
                  <div class="card-body">
                    <h5 class="card-title">Motivo:</h5>
                    <h6 clas="card-subtitle"><%= p.reason%></h6>
                    <% if p.professional_social_name_exists(p)%>
                      <p class="alert alert-danger" role="alert"><%= p.professional.profile.social_name%> cancelou a aplicação</p>
                    <% else %>
                      <p class="alert alert-danger" role="alert"><%= p.professional.profile.full_name%> cancelou a aplicação</p>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
