<% @project_application.each do |p|%>
    <%if professional_signed_in? && current_professional.id == p.professional_id %>
      <div>
        <p>Projeto: <%= p.project.title%></p>
        <p>Introdução <%= p.introduction%></p>
      </div>
    <% end %>
    <% if p.pending?%>
      <p>Sua candidatura está pendente</p>
      <% elsif p.accepted? %>
      <p> Sua candidatura foi aceita! </p>
      <%else%>
      <p>Sua candidatura foi recusada mas não desanime! Temos muitos projetos que encaixam no seu perfil</p>
    <% end %>
<% end %>

<% if user_signed_in?%>
<p>Candidaturas</p>
  <% @project_application.each do |p|%>
    <% if user_signed_in? && current_user.id == p.project_id %>
        <div>
          <p>Projeto: <%= p.project.title%></p>
          <p>Introdução <%= p.introduction%></p>
          <dt>Status:</dt>
          <dd><%= p.status%></dd>
          <% if p.pending?%>
            <p><%= link_to 'Aceitar', accept_project_application_path(p.id), method: :post%></p>
            <p><%= link_to 'Recusar', rejecte_project_application_path(p.id), method: :post%></p>
          <% end %>
        </div>
    <% end %>
  <% end %>
<% end %>
