<!DOCTYPE html>
<html>
  <head>
    <title>Jobfy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <% if user_signed_in? %>
                <%= render partial: "shared/user_is_signed_in" %>
              <% elsif is_current_professional_profile? %>
                <%= render partial: "shared/is_current_professional_profile" %>
              <% elsif professional_signed_in? && !is_current_professional_profile?%>
                <%= render partial: "shared/is_not_current_professional_profile" %>
              <% else %>
                <%= render partial: "shared/no_one_is_authenticated" %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <%= render partial: "shared/flash"%>
    <%= yield %>
  </div>
</body>
</html>
